!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    %title= content_for?(:title) ? yield(:title) : 'Launcher'
    = stylesheet_link_tag :application
    = javascript_include_tag :modernizr
    = csrf_meta_tags
  %body
    = render 'layouts/navigation_bar'
    #main-content
      = yield
    = javascript_include_tag :application
    = yield(:page_javascript)
